{% extends 'partials/base.html' %}
{% block title %}Problem Page{% endblock %}

{% block content %}


<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Problems</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">NomProblem</th>
                    <th scope="col">Type</th>
                    <th scope="col">Statut</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for product in product %}
                <tr>
                    <td>{{ problem.NomProblem }}</td>
                    <td>{{ problem.Type }}</td>
                    <td>{{ problem.Statut }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'dashboard-products-edit' product.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'dashboard-products-delete' product.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}